---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import { getCollection } from 'astro:content';

import { headerData, footerData } from '~/navigation';
import { getPermalink } from '~/utils/permalinks';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

const games = await getCollection('games');
const apps = await getCollection('apps');

const headerLinks = [
  { text: '홈', href: getPermalink('/') },
  {
    text: '게임',
    href: getPermalink('/games'),
    links: games.map((game) => ({ text: game.data.title, href: getPermalink(`/games/${game.id}`) })),
  },
  {
    text: '앱',
    href: getPermalink('/apps'),
    links: apps.map((app) => ({ text: app.data.title, href: getPermalink(`/apps/${app.id}`) })),
  },
  { text: '소개', href: getPermalink('/about') },
  { text: '문의', href: getPermalink('/contact') },
];

const footerLinks = [
  {
    title: '게임',
    href: getPermalink('/games'),
    links: games.map((game) => ({ text: game.data.title, href: getPermalink(`/games/${game.id}`) })),
  },
  {
    title: '앱',
    href: getPermalink('/apps'),
    links: apps.map((app) => ({ text: app.data.title, href: getPermalink(`/apps/${app.id}`) })),
  },
  ...footerData.links,
];
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} links={headerLinks} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} links={footerLinks} />
  </slot>
</Layout>
